# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.cache
*.ilk
*.log
*.tlog/
*.obj
*.pdb
*.exe.recipe
*.lastbuildstate
*.idb

# Build folders
x64/
Debug/
Release/
bin/
obj/

# Temporary files
*.tmp
*.log
